body {
  font-family: 'Lato',
  sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  /* color: #828282; */
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.page-cover {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.page-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .page-cover {
    height: 100vh;
  }
}

.c-center {
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.c-center h1 {
  color: #fff;
}

img.logo {
  width: 200px;
  height: auto;
  margin-bottom: -40px;
}

